---
import ArrowDown from '~icons/m-lab/arrow-down'
import ArrowLong from '~icons/m-lab/arrow-long'
import MeasurementSmall from '~icons/m-lab/measurement-small'

export interface Props {
  variant?: 'primary' | 'secondary' | 'supporting1' | 'supporting2' | 'speed' | 'outline' | 'ghost';
  icon?: 'arrowDown' | 'arrowRight' | 'measurement'
  size?: 'sm' | 'md' | 'lg' | 'xl' | 'square';
  as?: 'button' | 'a';
  href?: string;
  type?: 'button' | 'submit' | 'reset';
  class?: string;
  [key: string]: any;
}

const {
  variant = 'primary',
  size = 'md',
  as = 'button',
  href,
  icon,
  type = 'button',
  class: className = '',
  ...props
} = Astro.props;


const baseStyles = 'button-base'

const variants = {
  primary: 'button-primary',
  secondary: 'button-secondary',
  supporting1: 'button-supporting1',
  supporting2: 'button-supporting2',
  speed: 'button-speed',
  outline: 'button-outline',
  ghost: 'button-ghost',
};

const sizes = {
  sm: 'button-size-sm',
  md: 'button-size-md',
  lg: 'button-size-lg',
  xl: 'button-size-xl',
  square: 'button-size-square'
};



const classes = `${baseStyles} ${variants[variant as keyof typeof variants]} ${sizes[size as keyof typeof sizes]} ${className}`;

const Tag = as === 'a' ? 'a' : 'button';

---

{
	Tag === 'a' ? (
		<a data-component href={href} class={classes} {...props}>
			{icon === 'arrowDown' && <ArrowDown />}
			{icon === 'measurement' && <MeasurementSmall />}
			<slot />
			{icon === 'arrowRight' && <ArrowLong />}
		</a>
	) : (
		<button type={type} class={classes} {...props}>
			{icon === 'arrowDown' && <ArrowDown />}
			{icon === 'measurement' && <MeasurementSmall />}
			<slot />
			{icon === 'arrowRight' && <ArrowLong />}
		</button>
	)
}
