---
import { Image } from 'astro:assets';
import DevOnly from '@components/atoms/DevOnly.astro';
import { devClass } from '@utils/dev';
import type { ImageMetadata } from 'astro';

export interface Props {
  containerized?: boolean;
  maxWidth?: 'full' | '7xl' | '6xl' | '5xl' | '4xl';
  padding?: boolean;
  class?: string;
  bgColor?: string;
  bgType?: string;
  bgImage?: ImageMetadata;
	sectionLabel?: string
}

const {
  containerized = true,
  maxWidth = '7xl',
  padding = true,
  class: className = '',
  bgImage,
  bgColor,
  bgType = 'full',
	sectionLabel = 'section'
} = Astro.props;

const maxWidths = {
  full: 'max-w-full',
  '7xl': 'max-w-7xl',
  '6xl': 'max-w-6xl',
  '5xl': 'max-w-5xl',
  '4xl': 'max-w-4xl',
};

const containerClass = containerized ? `mx-auto ${maxWidths[maxWidth]}` : '';
const paddingClass = padding ? 'px-4 sm:px-6 lg:px-8 py-8' : '';

const backgrounds = {
  primary: 'bg-primary-100',
  secondary: 'bg-secondary-100',
  supporting1: 'bg-supporting1-100',
	supporting2: 'bg-supporting2-100'
};

const bgClass = backgrounds[bgColor as keyof typeof backgrounds] || "";
const sectionBgClass = bgType === 'full' ? bgClass : '';
const containerBgClass = bgType === 'contained' ? bgClass : '';
---

<section
	class={`relative ${sectionBgClass} ${devClass('border-t border-b border-gray-300 border-dotted')}`}
>
	<DevOnly>
		<span
			class="absolute top-0 left-0 bg-primary-300 p-1 text-sm text-primary-600 uppercase"
			>{sectionLabel}</span
		>
	</DevOnly>
	{
		bgImage && (
			<Image
				src={bgImage}
				alt=""
				class="absolute inset-0 -z-10 h-full w-full object-cover"
				loading="eager"
			/>
		)
	}
	<div
		class={`section-container relative ${containerClass} ${paddingClass} ${containerBgClass} ${className}`}
	>
		<slot />
	</div>
</section>
